*{
    margin: 0;
    padding: 0;
}

main{ 
    width: 75%;
    margin: 50px auto;
    row-gap: 20px;
    column-gap: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr)
}


.container{
    border: 10px solid gray;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(4, 100px);

}

.card{
    padding: 10px;
    border: 2.5px;
    margin: 20px; 
}
@media


/* .card1 {
    background-color: red;
}

.card2 {
    background-color: blue;
}

.card3 {
    background-color: orange;
}

.card4 {
    background-color: yellow;
}

.card5 {
    background-color: green;
}

.card6 {
    background-color: darkgray;
}

.card7 {
    background-color: violet;
} */